<div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row justify-content-start">
            <div class="col-lg-8 text-center text-lg-start">
                <h4 class="display-1 text-uppercase text-white mb-4">Búsqueda de pasteles</h4>
                <h1 class="font-secondary text-primary mb-4">Ingrese su filtro</h1>
                <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
                    <div class="container">
                        <form [formGroup]="filterForm">
                            <div formArrayName="filters">
                              <div *ngFor="let filter of filters.controls; let i = index">
                                <div class="row" [formGroupName]="i">
                                  <div class="col-md-3">
                                    <select class="form-select" formControlName="field">
                                        <option selected disabled>Seleccione un campo</option>
                                        <option value="family">Familia</option>
                                        <option value="flavor">Sabor</option>
                                        <option value="filling">Relleno</option>
                                      </select>
                                  </div>
                                  <div class="col-md-3">
                                    <select class="form-select" formControlName="operator">
                                        <option selected disabled>Seleccione un operador</option>
                                        <option value="AND">Y (&&)</option>
                                        <option value="OR">O (||)</option>
                                      </select>
                                  </div>
                                  <div class="col-md-3">
                                    <select class="form-select" formControlName="values" *ngIf="filters.at(i).get('field')?.value == 'family'">
                                      <option selected disabled>Seleccione un valor</option>
                                      <option *ngFor="let fam of families" [value]="fam.name">{{fam.description}}</option>
                                    </select>
                                    <select class="form-select" formControlName="values" *ngIf="filters.at(i).get('field')?.value == 'flavor'">
                                      <option selected disabled>Seleccione un valor</option>
                                      <option *ngFor="let flavor of flavors" [value]="flavor.name">{{flavor.description}}</option>
                                    </select>
                                    <select class="form-select" formControlName="values" *ngIf="filters.at(i).get('field')?.value == 'filling'">
                                      <option selected disabled>Seleccione un valor</option>
                                      <option *ngFor="let filling of fillings" [value]="filling.name">{{filling.description}}</option>
                                    </select>
                                  </div>
                                  <div class="col-md-3">
                                    <button type="button" class="btn btn-danger" (click)="removeFilter(i)" [disabled]="i == 0">Eliminar</button>
                                    <button type="button" class="btn btn-primary" (click)="addFilter()" [disabled]="!filters.at(i).valid || i != filters.controls.length - 1">+</button>
                                  </div>
                                </div>
                              </div>
                              
                            </div>
                            <button type="button" class="btn btn-primary" [disabled]="!filterForm.valid" (click)="applyFilters()">Buscar</button>&nbsp;
                            <button type="button" class="btn btn-danger" [disabled]="!filterForm.valid" (click)="cleanFilters()">Limpiar filtros</button>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <div class="container-fluid about py-5" *ngIf="cakes && cakes.length > 0">
    <div class="container">
        <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
            <h2 class="text-primary font-secondary">Resultados de la búsqueda:</h2>
            <h1 class="display-4 text-uppercase">De pasteles</h1>
        </div>
        <div class="tab-class text-center">
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-3">
                        <div class="col-lg-6" *ngFor="let cake of cakes">
                            <div class="d-flex h-100">
                                <div class="flex-shrink-0">
                                    <img class="img-fluid" [src]="cake.image" alt="" style="width: 150px; height: 85px;">
                                    <h4 class="bg-dark text-primary p-2 m-0">{{cake.price | currency:'Q':true:'2.2-2'}}</h4>
                                </div>
                                <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                    <h5 class="text-uppercase">{{cake.name}}</h5>
                                    <span>{{cake.description}}</span>
                                    <span>Stock {{cake.stock}}</span>
                                    <button class="btn btn-primary btn-round" (click)="addToCart(cake)" [disabled]="cake.stock < 1">
                                      <i class="bi bi-cart"></i> Agregar al carrito
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="container-fluid about py-5" *ngIf="filterForm.touched && filterForm.dirty && cakes && cakes.length == 0">
    <div class="container">
        <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
            <h2 class="text-primary font-secondary">Resultados de la búsqueda:</h2>
            <h1 class="display-4 text-uppercase">No se encontraron pasteles con esos filtros</h1>
        </div>
    </div>
  </div>